body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background: grey;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 61);
    border-radius: 1px;
}

body {
    background-color: rgb(220, 255, 246);
}

#rodape {
    width: 98.8vw;
    height: 6vh;
    background-color: rgb(61, 61, 61);
    position: absolute;
    top: 0;
    left: 0;
}
#texto_rodape {
    position: relative;
    left: 0.7vw;
    top: 1.2vh;
    color: white;   
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#pesquisa {
    width: 18vw;
    position: absolute;
    left: 80vw; 
    top: .7vh;
}

/* #psq_input:focus {
    border-bottom: 2px solid rgb(0, 194, 145);
} */

#entrar {
    position: absolute;
    top: 1.6vh;
    left: 68.5vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: red;
}

#entrar a {
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out;
}

#entrar a:hover {
    color: rgb(0, 194, 145);
    transition: .2s ease-in-out;
}
#cadastro {
    position: absolute;
    top: 0.8vh;
    left: 73vw;
}

#btncadastrar {
    height: 4.3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: transparent;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border: 0.10em solid rgb(255, 255, 255);
    z-index: 10;
    transition: .2s ease-in-out;
}
#btncadastrar:hover {
    color: rgb(0, 255, 191);
    border-color: rgb(0, 194, 145);
    transition: color 0.5s, border-color 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

* {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: rgb(150, 150, 150);
 }

/* campo de texto */
form.exemplo input {
  color: white;
  padding: 4.5px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #636363;
}

/* botão */
form.exemplo button {
  float: left;
  width: 2.2vw;
  padding: 3px;
  background: rgb(0, 194, 145);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

form.exemplo button:hover {
  background: rgb(0, 219, 164);
  transition: .2s ease-in-out;
}

form.exemplo::after {
  content: "";
  clear: both;
  display: table;
}

#inicio {
    width: 98.8vw;
    height: 15vh;
    background-color: transparent;
    position: absolute;
    top: 6vh;
    left: 0;
}

#social {
    width: 14vw;
    position: relative;
    top: 7.6vh;
    left: 83vw;
    display: inline-flex;
    z-index: 10;
}

#social a{
    float: left;
    height: 60px;
    width:60px;
}

.facebook {
    height: 60px;
    width: 60px;
    background: url('./images/face.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s ease-in-out;
}

.facebook:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.linkedin {
    height: 60px;
    width: 60px;
    background: url('./images/linked.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s ease-in-out;
}

.linkedin:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.instagram {
    height: 60px;
    width: 60px;
    background: url('./images/insta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s ease-in-out;
}

.instagram:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.zoom:hover>i {
    transform: scale(5) rotate(360deg);
    transition: 0.5s ease-out;
}

#menu ul {
position: relative;
top: 4vh;
left: 34vw;
width: 60vw;
background-color: rgb(80, 179, 154);
list-style: none;
font: 80% Tahoma;
}

#menu ul li {
    float: left;
    margin: 0 11px;
}

#menu ul li a {
    border-bottom: 2px solid rgb(220, 255, 246);
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding-bottom: 3px;
    transition: .3s ease-in-out;
}

#menu ul li a:hover {
    color: rgb(110, 110, 110);
    border-bottom: 2px solid rgb(117, 117, 117);
    transition: color 1s, border-bottom 1s;
    transition-timing-function: ease-out;
}

#conteudo1 {
    position: absolute;
    top: 21vh;
    left: 0;
    width: 98.8vw;
    height: 55vh;
    background-color: yellow;
}

#conteudo2 {
    position: absolute;
    top: 78vh;
    left: 0;
    width: 98.8vw;
    height: 61vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

#topico1 {
    position: relative;
    top: 9vh;
    left: 10vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    float: left;
    text-align: right;
}

#topico2 {
    position: relative;
    top: 9vh;
    left: 32vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    float: left;
    text-align: right;
}

#topico3 {
    position: relative;
    top: 9vh;
    left: 54vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    float: left;
    text-align: right;
}

hr {
    width: 12vw;
    text-align: right;
}

.explicacao {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: right;
    width: 18vw;
}

#e1 {
    position: absolute;
    top: 27vh;
    left: 4vw;
}
#e2 {
    position: absolute;
    top: 27vh;
    left: 38vw;
}
#e3 {
    position: absolute;
    top: 27vh;
    left: 72vw;
}
.ghost {
    height: 4.3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: transparent;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border: 0.10em solid rgb(250, 250, 250);
    transition: .2s ease-in-out;
}
.ghost:hover {
    color: rgb(0, 194, 145);
    border-color: rgb(0, 194, 145);
    transition: color 0.5s, border-color 0.5s;
    transition: .2s ease-in-out;
    cursor: pointer;
}
#quebra {
    position: absolute;
    left: 40vw;
    top: 55vh;
    width: 20vw;
    border: 0.1vh solid rgb(255, 255, 255);;
}

#rodape_baixo {
    position: absolute;
    top: 136.5vh;
    left: 0vw;
    background-color: rgb(19, 19, 19);
    height: 6vh;
    width: 98.8vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: white;
    font-size: 0.9em;
}

#textoRodapeBaixo {
    position: relative;
    left: 1vw;
    top: 1.6vh;
}

#textoRodapeBaixo2 {
    position: relative;
    left: 56vw;
    top: 1.6vh;
}

/* CSS da página Cadastro */
#div_cadastro {
    padding-left: 3.5vw;
    padding-top: 1.5vh;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 59vh;
    position: absolute;
    left: 37vw;
    top: 18vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    opacity: .8;
    box-shadow: 2px 2px 2px 2px rgba(11, 11, 11, 0.521);
}

#div_cadastro2 {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 1.5vh;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 75vh;
    position: absolute;
    left: 37vw;
    top: 18vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    opacity: .8;
    box-shadow: 2px 2px 2px 2px rgba(11, 11, 11, 0.521);
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
  
.icon {
    padding: 10px;
    background: rgb(0, 194, 145);
    color: white;
    min-width: 50px;
    text-align: center;
}
  
  /* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.input-field:focus {
    border: 2px solid rgb(0, 194, 145);
}
  
  /* Set a style for the submit button */
.btn {
    background-color: rgb(0, 194, 145);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}

#ctd1 {
    position: absolute;
    top: 21vh;
    left: 0;
    width: 98.8vw;
    height: 75vh;
    background-color: rgb(0, 255, 179);
}

#ctd2 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    position: absolute;
    top: 148vh;
    left: 0;
    width: 98.8vw;
    height: 70vh;
    background-color: transparent;
}

.texto_box {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    width: 18vw;
    outline: none;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.texto_valido {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0, 216, 54);
    width: 18vw;
    outline: none;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.texto_erro {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 112, 112);
    width: 18vw;
    outline: none;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.texto_box input {
    color: rgb(0, 0, 0);
}
#nome {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
}

#email_texto {
    font-size: 16px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: none;
    outline: none;
    background: none;
}

#confirmar_email {
    font-size: 16px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: none;
    outline: none;
    background: none;
}

#inputsenha {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
}

#confirmar_senha {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
}

.placebranco::placeholder {
    color: rgb(175, 175, 175);
}

#botao_proximo {
    position: absolute;
    left: 45.2vw;
    top: 60vh;
    height: 5vh;
    width: 8vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: rgb(0, 255, 179);
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border: 0.10em solid rgb(0, 199, 139);
    z-index: 10;
    transition: .2s ease-in-out;
}
#botao_proximo:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(0, 192, 144);
    background-color: rgb(0, 218, 152);
    transition: background-color 0.5s, border-color 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

#botao_cad {
    position: absolute;
    left: 45.2vw;
    top: 80vh;
    height: 5vh;
    width: 8vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: rgb(0, 255, 179);
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border: 0.10em solid rgb(0, 199, 139);
    z-index: 10;
    transition: .2s ease-in-out;
}
#botao_cad:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(0, 192, 144);
    background-color: rgb(0, 218, 152);
    transition: background-color 0.5s, border-color 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

#jatemconta {
    position: absolute;
    left: 43vw;
    top: 67vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    z-index: 999999999999999999999;
}

#jatemconta2 {
    position: absolute;
    left: 43vw;
    top: 87vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    z-index: 999999999999999999999;
}

#data_nascimento {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
}

#data2 {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
}

#jogo_favorito {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
    z-index: 999999999;
}

#termos a {
color: rgb(0, 0, 175);
list-style: none;
text-decoration: none;
}

#termos a:hover {
text-decoration: underline;
}

/* CSS da página Termos */
#texto_concordar {
    margin-left: 1.5vw;
    color: red;
    text-align: center;
}

#titulo_termos {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin-left: 32vw;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.171);
}

#texto_termos {
    width: 50vw;
    margin-left: 24vw;
}

/* CSS da página Entrar */
#botao_entrar {
    position: absolute;
    left: 45.2vw;
    top: 50vh;
    height: 5vh;
    width: 8vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: rgb(0, 255, 179);
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border: 0.10em solid rgb(0, 199, 139);
    z-index: 10;
    transition: .2s ease-in-out;
}
#botao_entrar:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(0, 192, 144);
    background-color: rgb(0, 218, 152);
    transition: background-color 0.5s, border-color 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

#naotemconta {
    position: absolute;
    left: 43vw;
    top: 57vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    z-index: 99999999999;
}

#esqueceu_senha {
    position: absolute;
    left: 44vw;
    top: 57vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    z-index: 99999999999;
}

#div_entrar {
    padding-left: 3.5vw;
    padding-top: 1.5vh;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 50vh;
    position: absolute;
    left: 37vw;
    top: 18vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    opacity: .8;
    box-shadow: 2px 2px 2px 2px rgba(11, 11, 11, 0.521);
}

#div_entrar2 {
    padding-left: 3.5vw;
    padding-top: 1.5vh;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 50vh;
    position: absolute;
    left: 37vw;
    top: 18vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    opacity: .8;
    box-shadow: 2px 2px 2px 2px rgba(11, 11, 11, 0.521);
}


#botao_proximo_entrar {
    position: absolute;
    left: 45.2vw;
    top: 50vh;
    height: 5vh;
    width: 8vw;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: rgb(0, 255, 179);
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border: 0.10em solid rgb(0, 199, 139);
    z-index: 10;
    transition: .2s ease-in-out;
}
#botao_proximo_entrar:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(0, 192, 144);
    background-color: rgb(0, 218, 152);
    transition: background-color 0.5s, border-color 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

#inputsenha_entrar {
    font-size: 16px;
    height: 3vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border:none;
    outline: none;
    background: none;
}

#senha_texto {
    font-size: 16px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: none;
    outline: none;
    background: none;
}